.titleBox{
  display: flex;
  align-items: center;
  height: 32px;
}

.timeBox{
  width: 124px; 
  justify-content: center;
}

.container{
  padding: 0 20px;
}

.header{
  position:sticky; 
  top: 0; 
  left: 0 ; 
  background: white;
}
